*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Lora", serif;
  --ff-secondary: "Roboto Slab", serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: rgb(229, 231, 239);
  --clr-dark: #020233;
  --clr-accent: #268f7d;
  --clr-alternate: #0b2c57;
  --clr-sisi: #0fa1a7;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */
html {
  scroll-behavior: smooth;
}

.body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-light);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-accent);
  padding: 1em;
}

.logo {
  max-width: 80px;
  color: var(--clr-light);
}

.header {
  justify-content: space-between;
}
.nav2 {
  justify-content: flex-end;
  background-color: var(--clr-light);
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;

    flex-direction: column;

    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;

    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
.section__title--services {
  color: var(--clr-dark);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
}
.card-body {
  background: var(--clr-light);
  color: var(--clr-dark);
}
.card-body1 {
  background: var(--clr-light);
  color: var(--clr-dark);
}
.card-body2 {
  background: var(--clr-accent);
  color: var(--clr-dark);
}
/* home */
.hero {
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white; /* ADD THIS LINE */

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/h.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heroimage {
  max-width: 500px;
}

.herotext {
}
.herobutton {
  display: block;
  width: 200px;

  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  color: rgb(36, 19, 19);
  text-decoration: none;
  font-size: 1.5em;

  border: 3px solid white;
  border-radius: 20px;
  background-color: rgba(61, 121, 118, 0.8);
}

.homefeatures {
  justify-content: space-between;
}
.smallerhero {
  background-color: rgb(68, 66, 66);
  color: var(--clr-light);
}
/* Markeplace */
.markethero {
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
  justify-content: space-between;
}
.smallermarkerhero {
  justify-content: space-around;
}
/* About */
/* Platform */
.platformhero {
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white; /* ADD THIS LINE */

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./image/platformhero.PNG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.platformfeat2 {
  background-color: rgb(68, 64, 64);
  color: var(--clr-light);
  border-radius: 30px;
}
.platformfeat3 {
  justify-content: space-evenly;
}
.pf3 {
  color: var(--clr-accent);
}
.pf31 {
  color: var(--clr-alternate);
}
.platformfeat4 {
  background-color: rgb(37, 36, 36);
  color: var(--clr-light);
}
.platformfeat6 {
  background-color: rgb(19, 18, 18);
  color: var(--clr-light);
}
/* Publishers */
.publishhero {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./image/pic16.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.publishfeat2 {
}
.publishfeat3 {
  justify-content: space-between;
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
}
.publishfeat33 {
  gap: 20px;
}
.publishfeat4 {
  justify-content: space-between;
}
.benefits {
  transform: rotateY("90");
}
.benefits2 {
  justify-content: space-between;
}
/* Brands */
.brandhero {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./image/p6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.brandcard {
  background: var(--clr-alternate);
  flex-direction: row;
}
.brand {
  justify-content: space-between;
}
.brand1 {
  background: var(--clr-light);
}
.brandfeat4 {
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
}
/* Partner */
.partnerhero {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./image/pichero.PNG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.inbetween {
  flex-direction: column;
  justify-content: space-between;
}
/* Sales-Network */
.saleshero {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./image/pic43.PNG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.salesfeat1 {
  justify-content: space-between;
}
.salesimage {
  /* height: 100px;
  width: 100px; */
}
/* Marketplace */
.markethero {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("./image/markethero.PNG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Footer */
.footer {
  background: var(--clr-alternate);
  color: var(--clr-light);
  text-align: center;
  align-content: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Flex Properties */
.flex {
  display: flex;
}
.jsutify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}
.flex-20 {
  flex: 0 1 15%;
}
.flex-80 {
  flex: 0 1 80%;
}
.wrap {
  flex-wrap: wrap;
}
/* Wrapper */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 32px;
}

.size {
  margin: 8px;
  background-color: #ececec;
  border-radius: 50%;
  display: grid;
  place-content: center;
  width: 38px;
  height: 38px;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
}

.active:hover {
  border: 1px solid white;
}
.size:hover {
  border: 1px solid #272727;
}

/* Products */
.product-item {
  width: 25%;
  position: relative;
  margin-bottom: 2rem;
}
.product-label {
  position: absolute;
  color: #ececec;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.6em;
  background-color: #1b1a20;
  cursor: default;
}

.product-item button {
  background: #272727;
  border: none;
  padding: 10px 30px;
  color: #ececec;
  margin-top: 10px;
  cursor: pointer;
}
.product-item-img {
  width: 100%;
  justify-content: space-between;
}
.product-item-details {
  text-align: center;
  padding: 24px 0;
}
.line {
  display: inline-block;
  width: 24px;
  border-bottom: 2px solid #1b5049;
  margin: 16px 0;
}
.product-item-title {
  font-size: 14px;
  color: #272727;
}
.products-filter {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.sort select {
  background-color: #fff;
  outline: none;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin-left: 10px;
  width: auto;
  height: 35px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .product-item {
    width: 50%;
  }
}

/* Cart */
.cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #04423f;
  width: 20%;
  color: rgb(15, 15, 15);
  height: 100%;
  transition: right 0.2s;
}
.cart-body {
  height: 100%;
  overflow-y: scroll;
}
.cart-heading {
  text-align: center;
  font-size: 32px;
  padding: 32px 0;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: center;
  position: relative;
}
.cart-heading svg {
  margin-right: 15px;
}
.open-btn {
  position: fixed;
  right: 0;
  background-color: #272727;
  top: 0;
  padding: 20px;
  cursor: pointer;
  color: #fff;
}
.close-btn {
  position: absolute;
  right: 100%;
  background-color: #272727;
  top: 0;
  padding: 20px;
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
  color: white;
}
.item-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0da88e;
  color: black;
  position: absolute;
  text-align: center;
  right: -9px;
  font-size: 16px;
  top: 13px;
}

.cart-heading .cart-icon .item-count {
  right: 1px;
}

.close-cart {
  position: relative;
}
.cart-icon {
  position: relative;
}
.cart-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.plus-icon {
  font-size: 12px;
  background: rgb(49, 155, 141);
  margin-right: 5px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart-price div,
p {
  margin-bottom: 10px;
}

.cart-cross {
  position: absolute;
  top: 5px;
  font-size: 21px;
  right: 27px;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
.cart-cross:hover {
  color: gray;
}

.price {
  color: #0bad5c;
}

.cart-item-details {
  color: gray;
}
.cart-item-name {
  color: white;
}
.cart-checkout {
  background: #e6dede;
  padding: 25px 20px;
}
.cart-checkout div {
  display: flex;
  justify-content: space-between;
}
.cart-checkout button {
  background: black;
  border: none;
  width: 100%;
  color: white;
  padding: 15px 0;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar {
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar {
    margin-top: 4rem;
  }
  .sort {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .products-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart {
    width: 100%;
  }
  .close-btn {
    display: inline-block;
    position: initial;
    font-size: 24px;
  }
  .wrap {
    display: flex;
    justify-content: center;
  }
  .size {
    width: 48px;
    height: 48px;
  }
  .product-item-img {
    width: 75%;
  }
  .product-item {
    text-align: center;
  }
}
