*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Lora", serif;
  --ff-secondary: "Roboto Slab", serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: rgb(229, 231, 239);
  --clr-dark: #020233;
  --clr-accent: #268f7d;
  --clr-alternate: #0b2c57;
  --clr-sisi: #0fa1a7;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */
html {
  scroll-behavior: smooth;
}

.body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-light);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-accent);
  padding: 1em;
}

.logo {
  max-width: 80px;
  color: var(--clr-light);
}

.header {
  justify-content: space-between;
}
.nav2 {
  justify-content: flex-end;
  background-color: var(--clr-light);
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;

    flex-direction: column;

    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;

    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
}
.section__title--services {
  color: var(--clr-dark);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-accent);
}
.card-body {
  background: var(--clr-light);
  color: var(--clr-dark);
}
.card-body1 {
  background: var(--clr-light);
  color: var(--clr-dark);
}
.card-body2 {
  background: var(--clr-accent);
  color: var(--clr-dark);
}
/* home */
.hero {
  color: var(--clr-light);
}
.herotext {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homefeatures {
  justify-content: space-between;
}
/* Markeplace */
.markethero {
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
  justify-content: space-between;
}
.smallermarkerhero {
  justify-content: space-around;
}
/* About */

/* Publishers */
.publishfeat2 {
}
.publishfeat3 {
  justify-content: space-between;
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
}
.publishfeat33 {
  gap: 20px;
}
.publishfeat4 {
  justify-content: space-between;
}
.benefits {
  transform: rotateY("90");
}
.benefits2 {
  justify-content: space-between;
}
/* Brands */
.brandcard {
  background: var(--clr-alternate);
  flex-direction: row;
}
.brand {
  justify-content: space-between;
}
.brand1 {
  background: var(--clr-light);
}
.brandfeat4 {
  background: linear-gradient(rgb(0, 68, 150), rgb(99, 167, 78));
}
/* Partner */
.inbetween {
  flex-direction: column;
  justify-content: space-between;
}
/* Sales-Network */
.salesfeat1 {
  justify-content: space-between;
}
.salesimage {
  /* height: 100px;
  width: 100px; */
}
/* Footer */
.footer {
  background: var(--clr-alternate);
  color: var(--clr-light);
  text-align: center;
  align-content: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}
